GOOGLE_CLOUD_PROJECT=rta-psa
GOOGLE_CLOUD_REGION=europe-west1
GEMINI_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=text-multilingual-embedding-002
GCS_BUCKET_PAGES=rta-psa-pages
GCS_BUCKET_INDEX=rta-psa-index
